<div class="row">
  <div class="col-lg-12">
  
    <h2>Mc3 - Physics and renderering engine</h2>

  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3 well">
    <h4>Settings</h4>
  </div>

  <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 well">
    <demo></demo>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3">
    <matrix4 data="renderer.projector.viewMatrix">View Matrix</matrix4>
  </div>
  <div class="col-lg-3 col-md-3">
    <matrix4 data="renderer.projector.viewProjectionMatrix">View Projection Matrix</matrix4>
  </div>

  <div class="col-lg-3 col-md-3">
    <matrix4 data="camera.matrix">Camera Matrix</matrix4>
  </div>
  <div class="col-lg-3 col-md-3">
    <matrix4 data="camera.matrixWorld">Camera Matrix World</matrix4>
  </div>
</div>
