.post
    margin-bottom 20px
    .post-tags-list
        vertical-align top
        padding 5px
        .post-tag-list-item
            float left
            display inline-block
            padding 2px 6px
            margin 2px 4px
            border 1px solid black
            a
                font bold small-caps 1em Arial, sans-serif
            &.active
                background blue

