
<table class="matrix-table center">
  <tr>
    <th class="center" ng-transclude></th>
  </tr>
  <tr>
    <td>{{elements[0] | number:2}}</td>
    <td>{{elements[3] | number:2}}</td>
    <td>{{elements[6] | number:2}}</td>
  </tr>
  <tr>
    <td>{{elements[1] | number:2}}</td>
    <td>{{elements[4] | number:2}}</td>
    <td>{{elements[7] | number:2}}</td>
  </tr>
  <tr>
    <td>{{elements[2] | number:2}}</td>
    <td>{{elements[5] | number:2}}</td>
    <td>{{elements[8] | number:2}}</td>
  </tr>
</table>
