<div class="container well">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#sketcher-navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">ChemSketcher</a>
    </div>
    <div id="sketcher-navbar-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="newMolecule()">New</a>
            </li>
            <li>
              <a data-toggle="modal" data-target="#openModal">Open</a>
            </li>
            <li>
              <a ng-click="save()">Save</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown">Edit <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="undo()">Undo</a>
            </li>
            <li>
              <a ng-click="redo()">Redo</a>
            </li>
          </ul>
        </li>
        <li>
          <a ng-click="logMolFile()">Mol File</a>
        </li>
        <li>
          <a ng-click="normalize()">Normalize</a>
        </li>
        <li>
          <a ng-click="satisfy()">Satisfy</a>
        </li>
        <li ng-show="moleculeStore">
          <a href="#" ng-href="#/chemistry/renderer/{{moleculeStore.urlString}}">Renderer</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-lg-3 col-md-3 well">
      <div class="row center">
        <h3>Name</h3>
         <input type="text" name="" ng-model="name" />
      </div>
      <div class="row center">
        <h4>Mouse</h4>
        <div class="btn-group">
          <button class="btn btn-default" ng-class="getMouseToolClass(mouse)" ng-click="changeMouseTool(mouse)" ng-repeat="mouse in mouseTools">
            {{mouse}}
          </button>
        </div>
      </div>
      <div class="row center">
        <h4>Atom</h4>
        <div class="btn-group" ng-repeat="group in atomGroups">
          <button class="btn btn-default" ng-class="getAtomToolClass(atom)" ng-repeat="atom in group" ng-click="changeAtomTool(atom)" >{{atom}}</button>
        </div>
      </div>
      <div class="row center">
        <h4>Bond</h4>
        <div class="btn-group" ng-repeat="bond in bondTypes">
          <button class="btn btn-default" ng-class="getBondToolClass(bond)" ng-click="changeBondTool(bond)">{{bond}}</button>
        
        </div>
      </div>
    </div>

    <div class="col-lg-7 col-md-7 well chem-sketcher">
      <demo></demo>
    </div>

    <div class="col-lg-2 col-md-2 well center">
      <h4>Info</h4>
      <div class="well" ng-hide="molecule.selectedAtom || molecule.selectedBond">
        <div class="input-group row">
          <span class="input-group-addon">Atoms</span>
          <span class="form-control">{{molecule.atoms.length}}</span>
        </div>
        <div class="input-group row">
          <span class="input-group-addon">Bonds</span>
          <span class="form-control">{{molecule.bonds.length}}</span>
        </div>
        <div class="input-group row">
          <span class="input-group-addon">Bond Angles</span>
          <span class="form-control">{{molecule.bondAngles.length}}</span>
        </div>
      </div>
      <div class="well" ng-show="molecule.selectedAtom">
        <div class="input-group row">
          <span class="input-group-addon">Element</span>
          <span class="form-control">{{molecule.selectedAtom.element}}</span>
        </div>
        <div class="input-group row">
          <span class="input-group-addon">Pos X</span>
          <span class="form-control">{{molecule.selectedAtom.position.x | number:3}}</span>
        </div>
        <div class="input-group row">
          <span class="input-group-addon">Pos Y</span>
          <span class="form-control">{{molecule.selectedAtom.position.y | number:3}}</span>
        </div>
        <div class="input-group row">
          <span class="input-group-addon">Pos Z</span>
          <span class="form-control">{{molecule.selectedAtom.position.z | number:3}}</span>
        </div>

        <div class="input-group row">
          <span class="input-group-addon">VSPER</span>
          <span class="form-control">{{molecule.selectedAtom.vsper()}}</span>
        </div>
        <ul class="list-group list-group-small row">
          <li class="list-group-item list-group-item-info">
            <b>Bonds</b>
          </li>
          <li class="list-group-item" ng-class="getBondClass(bond)" ng-click="selectBond(bond)"ng-repeat="bond in molecule.selectedAtom.bonds">{{bond.order}}</li>
        </ul>
        <ul class="list-group list-group-small row">
          <li class="list-group-item list-group-item-info">
            <a ng-click="molecule.selectedAtom.getBondAngles()">
              <b>Bond Angles</b>
            </a>
          </li>
          <li class="list-group-item" ng-class="getBondAngleClass(bondAngle)" ng-click="selectBondAngle(bondAngle)"ng-repeat="bondAngle in molecule.selectedAtom.bondAngles">
            {{bondAngle.getAngle() | number: 2}} | {{bondAngle.ideal | number:2}}
          </li>
        </ul>

      </div>
      <div class="well" ng-show="molecule.selectedBond">
        <div class="input-group">
          <span class="input-group-addon">Order</span>
          <span class="form-control">{{molecule.selectedBond.order}}</span>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Length</span>
          <span class="form-control">{{molecule.selectedBond.length() | number:2}}</span>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Open Molecule</h4>
      </div>
      <div class="modal-body">
        <ul ng-repeat="molecule in molecules">
          <li>
            <a ng-click="loadMolecule(molecule)" data-dismiss="modal">{{molecule.name}}</a>
          </li>
        </ul>
      
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>

